[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
timeout-decorator = "*"
flake8 = "*"
mypy = "*"

[packages]
dlib = "*"
opencv-python = "*"
hypothesis = "*"
numpy = "*"
grpcio-tools = "*"
cmake = "*"
pytest-grpc = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pipenv run pytest"
